Pandas

In [1]:
# importing Pandas
import pandas as pd

In [6]:
data  = [{"studId" : "001", "grade" : "A"}, {"studId" : "002", "grade" : "C"}, {"studId" : "003", "grade" : "D+"}, {"studId" : "004", "grade" : "B+"}, {"studId" : "005", "grade" : "A+"}, {"studId" : "006", "grade" : "B+"}, {"studId" : "007", "grade" : "E"},
{"studId" : "008", "grade" : "A"}, {"studId" : "009", "grade" : "F"}, {"studId" : "010", "grade" : "A+"} ]

dataFrame = pd.DataFrame(data)
dataFrame.head(10)

  studId grade
0    001     A
1    002     C
2    003    D+
3    004    B+
4    005    A+
5    006    B+
6    007     E
7    008     A
8    009     F
9    010    A+