Pandas

In [48]:
# importing Pandas
import pandas as pd

In [49]:
data  = [{"studId" : "001", "grade" : "A"}, {"studId" : "002", "grade" : "C"}, {"studId" : "003", "grade" : "D+"}, {"studId" : "004", "grade" : "B+"}, {"studId" : "005", "grade" : "A+"}, {"studId" : "006", "grade" : "B+"}, {"studId" : "007", "grade" : "E"},
{"studId" : "008", "grade" : "A"}, {"studId" : "009", "grade" : "F"}, {"studId" : "010", "grade" : "A+"} ]

dataFrame = pd.DataFrame(data)
dataFrame.head(10)

  studId grade
0    001     A
1    002     C
2    003    D+
3    004    B+
4    005    A+
5    006    B+
6    007     E
7    008     A
8    009     F
9    010    A+

In [50]:
# Specifying columns
dataFrame = pd.DataFrame(data, columns =["studId", "grade"])
dataFrame.head()

  studId grade
0    001     A
1    002     C
2    003    D+
3    004    B+
4    005    A+

In [51]:
# Specifying columns and adding a column
dataFrame = pd.DataFrame(data, columns =["studId", "grade", "rank"])
dataFrame.head()

  studId grade  rank
0    001     A   NaN
1    002     C   NaN
2    003    D+   NaN
3    004    B+   NaN
4    005    A+   NaN

In [52]:
# Custom index
dataFrame = pd.DataFrame(data, columns =["studId", "grade", "rank"], index=["a","b","c","d","e","f","g","h","i","j"])
dataFrame.head()

  studId grade  rank
a    001     A   NaN
b    002     C   NaN
c    003    D+   NaN
d    004    B+   NaN
e    005    A+   NaN

In [53]:
# Selecting column
dataFrame.studId

a    001
b    002
c    003
d    004
e    005
f    006
g    007
h    008
i    009
j    010
Name: studId, dtype: object

In [54]:
# Filtering data based column values
print(dataFrame[dataFrame.grade == "A"])

studId grade  rank
a    001     A   NaN
h    008     A   NaN

In [55]:
# Read data from CSV
# Dataset from : https://www.kaggle.com/ronitf/heart-disease-uci/data
heartData = pd.read_csv("D:\\Personal\\Study\\Bits Pilani\\Git\\python-basic-1\\Datasets\\heart.csv")
heartData.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [56]:
# Statistical Summary
heartData.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [57]:
# Select only few columns
heartData[["age","sex", "chol"]]

     age  sex  chol
0     63    1   233
1     37    1   250
2     41    0   204
3     56    1   236
4     57    0   354
..   ...  ...   ...
298   57    0   241
299   45    1   264
300   68    1   193
301   57    1   131
302   57    0   236

[303 rows x 3 columns]

In [58]:
# Properties
heartData.shape

(303, 14)